<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Services</h2>

                    <section class="intro-text">
                        <span class="fs-big">What do you need?</span><br>
                    Top implementation of your idea - we are sure that your idea is brilliant, but you came here to find someone who can implement it. <br>
                    
                    <span class="right-place upper fs-big bold">This is the right place!</span><br>
                    <ul>
                        <li>We are here to help you and we will do it with a pleasure.</li>
                        <li>We can discuss together your plan.</li>
                        <li>If you want, our business analyst can give you some important advices.</li>
                        <li>At any time we can start cooperating and implement top quality software based on your idea.</li>
                    
                    </ul>
                    
                    Do not worry, we can support you even everything will be ready.

                    <section class="description">
                        <span class="bold">Top solution</span> to your problem - solving problems it, that's what we love. 
                        Tell us about problem, which you want to solve. 
                        We will do all the best to analyze it and propose solution to fit your needs. 
                        When you accept the idea, we will implement and introduce product that match the top quality standards in terms of security and performance. 
                        Of course, we will support you at any time any any case, because we want to make that your problem disappear.
                    </section>

                    </section>
                </div>
            </div>
            
        </div>
    </section>