body * {
  box-sizing: border-box; }

.navbar-default.navbar {
  background-color: rgba(0, 0, 0, 0.4); }

.navbar-brand {
  display: flex;
  flex-direction: column;
  padding: 14px 15px;
  color: #FFFDFD; }
  .navbar-brand span:first-of-type {
    font-family: Passion One;
    font-size: 40px; }
  .navbar-brand span:last-of-type {
    font-size: 12px; }

#header {
  overflow: hidden;
  height: 100vh;
  position: relative; }
  #header .video {
    position: absolute;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8); }
  #header:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); }
  #header .top {
    margin-top: 150px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }
    #header .top .blue-block {
      height: 100px;
      background: linear-gradient(45deg, transparent 0%, transparent 57%, #165299 100%), linear-gradient(-45deg, #165299 0%, #4991E5 0.3%, #165299 112%, transparent 11%), linear-gradient(-90deg, #4991E5 100%, #4991E5 65%, transparent 20%);
      width: 55%;
      display: inline-block;
      margin-left: -80px;
      position: relative; }
    #header .top .text {
      padding: 0 20px;
      font-family: Roboto, sans-serif;
      color: #FFFDFD;
      font-size: 32px;
      line-height: 1.2; }
      #header .top .text > span {
        font-size: 50px;
        display: block;
        font-weight: bold; }

#services {
  height: 100vh;
  position: relative;
  background: #FFFDFD;
  overflow: hidden; }
  #services .section-heading {
    color: #26262A;
    margin-top: 80px; }
  #services:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: inline-block;
    top: 50%;
    left: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50vh solid #FFFDFD;
    z-index: 1; }
  #services:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #4991e5 0%, #2e6cb3 23%, #2e6cb3 72%, #4991e5 100%); }

#team {
  background: #26262A; }
  #team .section-heading {
    color: #FFFDFD;
    margin-top: 80px; }
  #team .members {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 80px; }
    #team .members .team-member {
      margin-right: 30px; }
      #team .members .team-member img {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }
      #team .members .team-member:last-of-type {
        margin-right: 0; }
      #team .members .team-member .description {
        margin-top: 8px; }
        #team .members .team-member .description p {
          margin: 2px 0;
          font-weight: 600; }
        #team .members .team-member .description > .name {
          font-family: Lato, sans-serif;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 600; }

#portfolio {
  height: 100vh;
  position: relative;
  background: #4991E5;
  overflow: hidden; }
  #portfolio .section-heading {
    color: #FFFDFD;
    margin-top: 80px; }
  #portfolio:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: inline-block;
    top: 50%;
    left: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50vh solid #4991E5;
    z-index: 1;
    filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2)); }
  #portfolio:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 0;
    left: 0;
    background: #FFFDFD; }

#contact {
  background: #26262A;
  padding-bottom: 80px; }
  #contact .section-heading {
    color: #FFFDFD;
    margin-top: 80px; }

footer {
  background: #1a1a1d;
  padding: 20px 0; }
  footer .copyright {
    color: #cccccc; }

.btn {
  background: transparent;
  color: #FFFDFD;
  text-transform: uppercase;
  border: 3px solid #FFFDFD; }

/*# sourceMappingURL=agency.css.map */
